# Entornos virtuales
venv/
.venv/
env/
.env

# Archivos de cache de Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# Archivos de distribución
dist/
build/
*.egg-info/

# Logs
logs/
*.log

# Archivos de credenciales
*.json
!example-credentials.json

# Archivos de IDE
.idea/
.vscode/
*.swp
*.swo

# Archivos del sistema operativo
.DS_Store
Thumbs.db

#Tokens
tokens
